/* ==========================================================================
   1. Navigation & Header
   ========================================================================== */
   nav a:hover {
    color: #ab9d4d;
    opacity: 1;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 50%;
    background-color: #ab9d4d;
    transition: opacity 0.3s ease;
    transform: translateX(-50%);
    opacity: 0;
}

nav a:hover::after {
    width: 100%;
    opacity: 1;
}

nav li a.active {
    color: #ab9d4d;
}

nav li a.active::before {
    content: '•';
    display: inline-block;
    margin-right: 5px;
    color: #ab9d4d;
}

/* Scroll effects */
main, nav {
    transition: background-color 2s cubic-bezier(0.25, 1, 0.5, 1), 
                box-shadow 2s cubic-bezier(0.25, 1, 0.5, 1);
}
.call-banner {
    display: none;
}
/* Contact bar hover effects */
.contact-bar i {
    font-size: 0.75rem;
    letter-spacing: 6px;
}

.phone-number {
    font-size: 0.75rem;
    font-family: "Optima", sans-serif;
    text-decoration: none;
    letter-spacing: 6px;
    color: inherit;
}

.phone-number:hover {
    color: #ab9d4d;
}
/* ==========================================================================
   Restaurant Section
   ========================================================================== */
   .restaurant-section {
    width: 28%;  /* Ridotto per occupare solo una parte della larghezza */
    margin-top: 180px;  /* Spazio per il main header */
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100vh;  /* Assicuriamo che la sezione occupi almeno tutta l'altezza */
}
.restaurant-img {
    animation: slideFromLeft 1.5s ease-out forwards;
}
.restaurant-container {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.restaurant-img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    will-change: transform;
    
}

/* ==========================================================================
   Title Section
   ========================================================================== */
   .title-section {
    width: 60%;
    padding: 0rem;
    position: absolute;
    right: 5%;
    top: 300px;
    transform: none;
    display: flex;
    align-items: center;
    margin-bottom: 600px;  /* Aggiungiamo spazio sotto */
}
.title-container h2 {
    font-family: "Prata", sans-serif;
    font-size: 4rem;
    font-weight: 200;
    color: #202020;
    letter-spacing: 0.05em;
    margin-left: 2rem;  /* Spazio tra la linea e il titolo */
    opacity: 0;
    animation: slideFromBottom 1s ease-out forwards;
    animation-delay: 1s;  /* Ritardo dopo l'immagine */
}


.title-section::before {
    content: '';
    width: 80px;  /* Lunghezza della linea */
    height: 1px;   /* Spessore della linea */
    background-color: #8a8a8a;  /* Stesso colore degli altri elementi decorativi */
    position: absolute;
    left: -90px;  /* Si estende a sinistra del titolo */
    top: 50px;
    transform: translateY(-50%);
}
.title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-tagline {
    font-family: "Optima", sans-serif;
    font-size: 1.2rem;
    color: #8a8a8a;
    margin-top: 0.5rem;
    letter-spacing: 0.2em;
    font-weight: 300;
    position: relative;
    
}

/* La linea verticale scende dal tagline */
.title-tagline::after {
    content: '';
    width: 1px;
    height: 80px;
    margin-top: 50px;
    background-color: #8a8a8a;
    position: absolute;
    left: 98.5%;
    top: 100%;  /* Parte dalla fine del tagline */
}
.title-section::before,
.title-tagline::after {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2.5s;  /* Ritardo dopo le immagini */
}

/* Container delle immagini che segue la linea */
.vertical-images {
    margin-top: 230px;  /* Spazio dopo la linea verticale */
    display: flex;
    gap: 2rem;
    position: relative;
    left: 15.5%;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2s;  /* Ritardo dopo il titolo */
    
}
.vertical-img-container.left {
    position: relative;
    height: 450px;
    overflow: visible;
}
.vertical-img-container.left::after {
    content: '';
    position: absolute;
    bottom: -80px;  /* Distanza dall'immagine */
    left: 40%;     /* Centro orizzontale */
    width: 1px;    /* Spessore della linea */
    height: 80px;  /* Lunghezza della linea */
    background-color: #8a8a8a;  /* Stesso colore delle altre linee */
}
.vertical-img.left {
    position: relative;
    height: 450px;  /* Altezza base */
    overflow: visible;  /* Cambiato da hidden a visible */
}

.vertical-img.right {
    margin-top: 130px;
}

.vertical-img {
    width: 300px;   
    height: 450px;  
    object-fit: cover;
}

/* ==========================================================================
   Animazione della sezione restaurant
   ========================================================================== */
   @keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*==========================================================================
    Location Section
 ========================================================================== */
 .location-section {
    width: 100%;
    padding: 4rem 0;
    background-color: #fff;
    margin-top: 4rem;
}

.location-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 0 1rem;
    position: relative; /* Per il posizionamento della linea */
}

.location-text {
    flex: 1;
    position: relative; /* Per il posizionamento della linea */
}
/* Linea decorativa */
.location-text h2::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -10rem; /* Spazio tra il titolo e l'inizio della linea */
    width: 90px;  /* Lunghezza della linea */
    height: 1px;
    background-color: #8a8a8a;
    transform: translateY(-50%);
}

.location-text h2 {
    font-family: "Prata", sans-serif;
    text-align: right;
    font-size: 3rem;
    font-weight: 200;
    color: #202020;
    margin-bottom: 1.5rem;
}


.location-text p {
    font-family: "Optima", sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #666;
    max-width: 600px;
}

.location-image {
    flex: 1;
    margin-top: 300px;
    height: 500px;
    overflow: visible;
    position: relative;
    z-index: 1;
}
/* Linea Verticale */
.location-image::after {
    content: '';
    position: absolute;
    bottom: -80px;  /* Distanza dall'immagine */
    left: 20%;     /* Centro orizzontale */
    width: 1px;    /* Spessore della linea */
    height: 80px;  /* Lunghezza della linea */
    background-color: #8a8a8a;  /* Stesso colore delle altre linee */
}

.location-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    
    transition: transform 0.8s ease;
}

.location-img:hover {
    transform: scale(1.05);
}

/*==========================================================================
    Floating Image
 ========================================================================== */
 .floating-image-container {
    position: relative;
    z-index: 2;
    margin-bottom: -250px;
}

.floating-img-wrapper {
    position: absolute;
    right: 40px;
    margin-top:7%;
    z-index: 3;  /* Assicuriamoci che sia sopra gli altri elementi */
}

.floating-img-wrapper::before {
    content: '';
    position: absolute;
    left: -80px;  /* Distanza dall'immagine */
    top: 20%;
    transform: translateY(-50%);
    width: 80px;
    height: 1px;
    background-color: #737373;
}

.floating-img {
    width: 614px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


/* Modifica alla info-section esistente */
.info-section {
    position: relative;
    z-index: 1;
}


/*==========================================================================
    Info Section
 ========================================================================== */
   .info-section {
    margin-top: 120px;  /* Aggiungiamo spazio sopra la info section */
    padding: 90px 20px;
    width: 80%;
    right:50px;
    margin-bottom: 40px;
    background-color: rgb(243, 243, 243);
    background-image: url('../../../assets/images/compressed/backinfo-1920.webp');
    background-size: cover;
    background-position: center;
    background-repeat:repeat-x;
    background-attachment: fixed;
    text-align: right;
    position: relative;
    
}


.info-content {
    max-width: 600px;
    margin: 0;
    position: relative;
    text-align: right;
    right: 70px;
}

.info-block h3 {
    font-family: "Prata", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
    color: #202020;
}

.info-block p {
    font-family: "Optima", sans-serif;
    font-size: 0.7rem;
    line-height: 1.8;
    margin-bottom: 10px;
    color: #333;
}

.info-block a {
    display: block;
    font-family: "Optima", sans-serif;
    font-size: 0.7rem;
    color: #202020;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.info-block a:hover {
    color: #ab9d4d;
}

.kontakt-button {
    width: 15%;
    margin-top: 20px;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #a8a8a8;
    text-decoration: none;
    color: #202020;
    font-family: "Prata", sans-serif;
    font-size: 0.6rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.kontakt-button:hover {
    background-color: #ab9d4d;
    color: #ffffff;
}

/* ==========================================================================
   7. Contact Banner
   ========================================================================== */
.contact-banner {
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #ffffff, #f9f7f2, #ffffff);
    position: relative;
    overflow: hidden;
    color: #000000;
    text-align: center;
    z-index: 1000;
}
.opening-hours,
.reservation-info,
.location-info {
    margin-top: 50px;
    width: 33%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
    color: #000000;
}
.time-span,
.contact-link,
.address-link
{
    margin-top: 42px;
    color: #000000;
}
.address-link {
    display: block;
}
.reservation-info a, .location-info a{
    color: #000000;
}
.contact-container img {
    width: 150px;
    margin-left: 10px;
}
.contact-info {
    display: flex;
    font-size: 0.9vw;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.contact-info-grid {
    display: flex;
    gap: 5rem;
    width: 80%;
    margin: 0;
    padding: 10px  10px;
}

.contact-separator {
    width: 1px;
    height: 160px;
    background-color: rgb(179, 164, 82);
    margin-top: 10px;
}

/* ==========================================================================
    Social Wrapper
   ========================================================================== */

.footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
}
.footer-social a {
    color: #000;
    margin-top: 20px;

    font-size: 18px;
}


/* Social wrapper */
.social-wrapper-mobile {
    display: none;
}
/* ==========================================================================
   8. Legal Info e Cookie Banner
   ========================================================================== */
   .legal-info-container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #000000;
   }
   .legal-info {
    font-size: 0.7rem;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.9;
    width: 100%;
}

.legal-info a {
    color: #ffffff;
    text-decoration: underline;
}

/* ==========================================================================
   8.  Cookie Banner
   ========================================================================== */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    display: none;
    z-index: 9999999;
}

.cookie-banner p {
    margin-bottom: 10px;
}

.cookie-banner a {
    color: #ab9d4d;
}

.cookie-banner button {
    padding: 8px 20px;
    cursor: pointer;
}

.cookie-banner button:first-of-type {
    background-color: #ab9d4d;
    color: white;
    border: none;
    margin-right: 10px;
}

.cookie-banner button:last-of-type {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
@media screen and (max-width: 768px) {
    .cookie-banner {
        z-index: 9999999;
        margin-bottom: 30px;
    }
}
/* ==========================================================================
   10. Media Queries
   ========================================================================== */
   @media (max-width: 768px) {

    /*restaurant*/

    .restaurant-section {
        width: 100%;  /* Occupa tutta la larghezza */
        min-height: auto;  /* Rimuoviamo min-height: 100vh */
        height: auto;      /* Altezza automatica basata sul contenuto */
        margin-top: 118px;  /* Riduco il margine superiore */
    }

    .restaurant-container {
        width: 100%;
        height: 73vh;  /* Altezza ridotta per mobile */
    }

    .restaurant-img {
        height: 100%;  /* Altezza al 100% del container */
        position: relative;  /* Cambiamo da absolute a relative */
        animation: none;
        filter: brightness(0.9);  /* Leggermente più luminosa su mobile */
    }

    /*title section*/
    .title-section {
        width: 90%;
        position: relative;  /* Cambiamo da absolute a relative */
        right: auto;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;  /* Spazio dopo l'immagine */
        margin-bottom: 10px;
    }

    .title-container h2 {
        font-size: 2rem;
        
        text-align: center;
        margin-top: 0px;
    }

    .title-section::before {
        display: none;
    }

    .title-container {
        width: 100%;
        align-items: center;  /* Centra gli elementi nel container */
        padding: 0;
    }
    .title-tagline::after {
        display: none;
    }
    .title-tagline {
        margin-top: 15px;
        text-align: center;
    }
    /*vertical images*/
    .vertical-images {
        margin-top: 90px;
        flex-direction: row;
        height: 440px;
        gap: 1rem;
        left: 0;
        width: 100%;
        justify-content: center;
        padding: 0 1rem;
    }

    .vertical-images .vertical-img-container.left {
        width: 150px;   
        height: 250px;
        overflow: hidden;
    }

    /* Selettore più specifico per l'immagine */
    .vertical-images .vertical-img.left {
        width: 150px;
        height: 250px;
        object-fit: cover;
        position: relative;
    }

    .vertical-img.right {
        width: 150px;
        height: 250px;
        margin-top: 200px;
    }

    .vertical-img-container.left::after {
        display: none;
    }
/*LOCATION SECTION*/
.location-section {
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

.location-content {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
    text-align: center;
}

.location-text {
    order: -1;
    width: 100%;
    text-align: center;
}

.location-text h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.location-text h2::after {
    display: none;
}

.location-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 100%;
}

.location-image {
    width: 100%;
    margin-top: 2rem;
    height: 300px;
}

.location-image::after {
    display: none;
}

.location-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*floating image*/
.floating-img{
    display: none !important;
}
.floating-img-wrapper::before{
    display: none !important;
}

/*info section MQ*/
.info-section {
    padding: 200px 20px;
    width: 100%;
    right:0;
    background-color: rgb(243, 243, 243);
    background-image: url('../../../assets/images/compressed/backinfo-1920.webp');
    background-size: cover;
    background-position: center;
    background-repeat:repeat-x;
    background-attachment: fixed;
    text-align: center;
}

.info-content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    right: 0;
}

.info-block {
    width: 100%;
    text-align: center;
}
.kontakt-button {
    width: 150px; 
    margin-top: 100px;          /* Occupa tutta la larghezza del container */
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #a8a8a8;
    text-decoration: none;
    color: #202020;
    font-family: "Prata", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;  /* Per allineare meglio l'icona */
    justify-content: center;
    align-items: center;
}
.kontakt-button:hover {
    background-color: #ab9d4d;
    color: #ffffff;
}


.info-block h3 {
    font-family: "Prata", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 0.25em;
    margin-bottom: 20px;
    color: #202020;
}

.info-block p {
    font-family: "Optima", sans-serif;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 10px;
    color: #333;
}

.info-block a {
    display: block;
    font-family: "Optima", sans-serif;
    font-size: 0.9rem;
    color: #202020;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.info-block a:hover {
    display: none;
}

    /* Call banner */
    .call-banner {
     display: block;
     position: fixed;
     width: 100%;
     bottom: 0;
     background: #000;
     padding: 20px 40px;
     z-index: 1000;
 }

 .contact-buttons {
     display: flex;
     justify-content: center;  /* Distribuisce lo spazio tra gli elementi */
     align-items: center;
     width: 100%;
     gap: 9rem;   
 }

 .contact-buttons a {
     display: flex;
     justify-content: center;
     align-items: center;
     width: auto;            /* Cambiato da 100% */
     text-decoration: none;
 }

 .call-banner i {
     font-size: 2.1rem;
     color: white;
 }

 .call-banner a span {
     display: none;
 }
  /* Info Section Mobile */
  .info-section {
    padding: 40px 20px;
}


/* Social Wrapper Mobile */
.social-wrapper-mobile {
    display: block;
    margin-top: 40px;
}

.social-wrapper-mobile .footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-wrapper-mobile .footer-social a {
    font-size: 1.5rem;
    color: #000;
}

.social-wrapper {
    display: none;
}

.cookie-banner {
    bottom: 40px;
}

/* Contact & Footer Mobile Styles */
.contact-info {
    width: 100%;
    flex-direction: column;  /* Impila gli elementi verticalmente */
    gap: 30px;              /* Spazio tra le sezioni */
}
.contact-info-text p {
    font-size: 1rem;
    line-height: 1.6;
}
.contact-info-grid {
    flex-direction: column;  /* Impila gli elementi verticalmente */
    width: 100%;
    gap: 30px;              /* Spazio tra le sezioni */
    text-align: center;     /* Centra il testo */
}
.contact-banner {
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;
    z-index: 997;
    position: relative;
}
.contact-container {
    flex-direction: column;  /* Impila gli elementi verticalmente */
    width: 100%;
}
.contact-separator {
   display: none;
}

.logo-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-section a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.logo-section picture {
    display: block;
    width: fit-content;
    margin-right: 20px;
}

.logo-section img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0;
}

.opening-hours span,
.reservation-info span:first-child,
.location-info span:first-child {
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.opening-hours,
.reservation-info,
.location-info {
    width: 100%;            /* Larghezza completa */
    margin-bottom: 20px;    /* Spazio sotto ogni sezione */
    text-align: center;     /* Centra il contenuto */
}
.time-span,
.contact-link,
.address-link,
.reservation-info a,
.location-info a {
    font-size: 0.8rem;
}
.legal-info-container {
    position: relative;
    width: 100vw;
    margin-bottom: 45px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #000000;
}
.legal-info {
    text-align: center;
    font-size: 0.6rem;
    width: 100%;
    margin-bottom: 60px;
}
}

